#colophon{
	border-top: 1px solid $color__border;
	padding: 15px;
	text-align: center;
	@include font-size( 1.4 );
}

.ico-footer {
  margin-top: 5px;
}

.ico-footer-logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ico-footer-logo-img {
  width: 35px;
  height: 40px;
  background: url(images/logo-box-orange.svg) no-repeat 0 0;
}

.logo-container {
  margin-top: 10px;
}

.logo-footer-logo-text {
  margin-left: 15px;
  height: 40px;
  width: 150px;
  background: url(images/logo-text.svg) no-repeat 0 0;
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){

}

/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){

}

/*--------------------------------------------------------------
 Footer Love
--------------------------------------------------------------*/
#heart {
    position: relative;
    width: 100px;
    height: 90px;
  -webkit-animation:heart 2s infinite;
	animation:heart 2s infinite;
   display: inline-block;
   top: 25px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #F44336;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

@-webkit-keyframes heart{
	0%     { -webkit-transform:scale(.75,.75); }
	16%    { -webkit-transform:scale(1,1); }
	17%    { background-color:rgba(192,57,43,0); }
  33%    { -webkit-transform:scale(.75,.75); }
  49%    { -webkit-transform:scale(1,1); }
	50%    { background-color:rgba(192,57,43,0); }
	100%   { -webkit-transform:scale(.75,.75); }
}

@-moz-keyframes heart {
	0%     { -moz-transform:scale(.75,.75); }
	16%    { -moz-transform:scale(1,1); }
	17%    { background-color:rgba(192,57,43,0); }
  33%    { -moz-transform:scale(.75,.75); }
  49%    { -moz-transform:scale(1,1); }
	50%    { background-color:rgba(192,57,43,0); }
	100%   { -moz-transform:scale(.75,.75); }
}

@keyframes heart {
	0%     { transform:scale(.75,.75); }
	16%    { transform:scale(1,1); }
	17%    { background-color:rgba(192,57,43,0); }
  33%    { transform:scale(.75,.75); }
  49%    { transform:scale(1,1); }
	50%    { background-color:rgba(192,57,43,0); }
	100%   { transform:scale(.75,.75); }
}

/*--------------------------------------------------------------
 Morph menu
--------------------------------------------------------------
.morph-main-menu-button::after, .morph-main-menu-button::before, .morph-main-menu-button div.morph-main-menu-button-middle::before {
    background-color: #92959e;
    content: "";
    display: block;
    height: 3px;
    margin: 5px 0;
    outline: 1px solid transparent;
    transition: all 0.25s ease 0s;
    width: 30px;
}

.morph-menu-active .morph-main-menu-button::before {
    margin: 2px 0 0;
    transform: translateY(11px) rotate(45deg);
}
*/

.main-footer {
  margin-top: 40px;
}

.bottom-nav {
  padding-bottom: 3px;
  background-color: #455a64;
  box-shadow: 0 -5px 9px rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  box-sizing: content-box;
}

.bottom-nav__inner {
  display: flex;
  min-height: 117px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: content-box;
}

.bottom-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  font-weight: 300;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.bottom-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: content-box;
}

.bottom-nav__list-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.bottom-nav__item {
  padding: 4px 32px;
  white-space: nowrap;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.bottom-nav__item--empty {
  width: 75px;
}

.bottom-nav__logo-wrap {

}

.bottom-nav__logo {
  display: block;
  width: 103px;
  height: 67px;

}

.bottom-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.footer {
  padding-right: 0;
  background-color: #455a64;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 15px 0;
  min-height: 116px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__policy {
  margin: 20px 0;
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.footer__about {
  padding: 20px 15px;
  margin: 0 auto;
  max-width: 397px;
  text-align: center;
}

.footer__about-title {
  margin-bottom: 3px;
  margin-top: -7px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.footer__about-desc {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.layout.horizontal {
  margin-top: 10px;
  flex-direction: column;
}

iron-icon {
  color: rgba(255,255,255,0.96);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.social-link {
  display: block;
  margin-right: 14px;
}

.social--min .social-link {
  margin-right: 0;
  margin-left: 9px;
  width: 26px;
}

.social--min .social-link:first-child {
  margin-left: 0;
}

.footer__link {
  color: #fff;
}

@media only screen and (max-width: 725px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__policy {
    order: 1;
  }
}