/**
* Drawer
*/
#drawer{
	position: relative;
	z-index: 60;
	display: none;
}

.drawer-content{
	position: fixed;
	top: 0;
	right: 40px;
	bottom: 0;
	left: -100%;
	background: white;
	box-shadow: 1px 0 10px #4a4a4a;
	z-index: 70;
	overflow-y: auto;

	.drawer-header{
		padding: 100px 15px 35px;
		@include font-size( 1.6 );
		color: white;
		background: $color__accent;
		border-bottom: 1px solid $color__border;
		position: relative;
		font-weight: 300;
		text-align: center;

		a{
			color: white;
		}

		.site-logo-link{
			display: inline-block;
			line-height: .8;
			overflow: hidden;
			margin-bottom: 20px;
			max-width: 300px;
			height: 100px;
			position: relative;

			img{
				width: auto;
				height: 100%;
			}
		}

		.site-name{
			line-height: 1;
		}

		.site-description{
			@include font-size( 1.4 );
			margin: 1em 2em 2em;
		}

		.toggle-button{
			position: absolute;
			top: 24px;
			left: 19px;
			font-size: 20px;
			color: white;

			&:hover{
				opacity: .7;
			}

			.label{
				display: none;
			}
		}
	}

	.drawer-navigation{
		@include font-size( 1.4 );
		border-bottom: 1px solid $color__border;
		line-height: 1.8;
		// font-weight: 300;

		ul{
			margin: 0;
		}

		li{
			list-style: none;

			&.page_item_has_children{
				padding-bottom: 0;
			}

			&:last-child{
				a{
					border: none;
				}
			}
		}

		a{
			// @include widget_link_ux;
			padding: 30px 15px 28px 100px;
			display: block;
			text-decoration: none;
			border-bottom: 1px solid $color__border;

			&:hover{
				background: #f5f5f5;
			}

			&:active{
				background: lighten( $color__accent, 60% );
			}
		}

		.children{
			@include font-size( 1.2 );
			font-weight: 300;
			margin-left: 15px;
			padding-top: 7px;
			line-height: 2.2;

			li{
				// list-style: disc;
			}
		}

		/**
		* Icons
		*/ 
		li{
			position: relative;
			display: block;
			line-height: 1.4;

			&:before{
				position: absolute;
				top: 29px;
				left: 50px;
				width: 20px;
				font-size: 20px;
				color: $color__accent;
			}

			a{
				font-family: $font__main;
			}
		}
	}

	.drawer-widgets{
		.widget{
			padding: 15px 25px 15px 50px;
			border-bottom: 1px solid $color__border;
		}
	}
}

.drawer-overlay{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 74, 74, 74, .8 );
}

.widget {
	line-height: 1.7;
	@include font-size( 1.4 );

	ul,ol{
		margin: 0;

		li{
			list-style: none;
			padding: 7px 0;
		}
	}

	.widgettitle,	
	.widget-title{
		@include font-size( 1.4 );
		color: $color__accent_darker;
		font-weight: 700;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	a{
		text-decoration: none;

		&:hover{
			opacity: .7;
		}
	}

	.material-input-wrap,	
	select{
		width: 100%;
	}
}

/* Search widget */
.widget_search{
	.search-field{
		box-sizing: border-box;
		width: 100%;
	}

	.search-submit {
		display: none;
	}
}

/* List widget */
.widget_recent_entries,
.widget_pages,
.widget_meta,
.widget_nav_menu{
	li{
		a{
			@include widget_link_ux;

			&:before{
				right: -25px;
			}
		}
	}
}

/* RSS Widget */
.widget_rss{
	li{
		.rsswidget{
			@include font-size( 1.4 );

			&:after{
				content: '';
				display: inline-block;
				width: 15px;
				height: 1px;
				background: lighten( $color__text-main, 30% );
				vertical-align: middle;
				margin: -2px 5px 0;
			}		
		}		
	}
	
	.rss-date,
	.rssSummary{
		@include font-size( 1.3 );
		color: lighten( $color__text-main, 40% );
	}

	cite{
		font-style: normal;
		@include font-size( 1.1 );
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #999;
	}
}

/* Social Links */ 
.social-links{
	padding: 0;
	margin: 1em 0 0;
	line-height: 1;

	li{
		list-style: none;
		display: inline-block;
		margin: 0 0 0 .7em;

		&:first-child{
			margin-left: 0;
		}
	}

	a{
		display: inline-block;
		width: 35px;
		height: 35px;
		padding: 10px 0 0;
		@include border-radius( 50% );
		@include transition_duration( 0.3s );
		text-align: center;

		&:hover{
			box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-ms-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}

		&.twitter{
			background: $color__twitter;
		}

		&.facebook{
			background: $color__facebook;
		}

		&.googleplus{
			background: $color__googleplus;
		}


		&:before{					
			@include font-size( 1.6 );
		}
	}

	.label{
		display: none;
	}
}

// Admin bar
body{
	&.admin-bar{
		.drawer-content{
			top: 46px;
		}

		&.scrolling{
			.drawer-content{
				top: 0;
			}
		}
	}
}

/**
* Admin bar large mobile screen adjustment
*/
@media screen and ( min-width: 601px ){
	body{
		&.admin-bar{
			&.scrolling{
				.drawer-content{
					top: 46px;
				}
			}
		}
	}
}

/**
* Admin bar tablet screen adjustment
*/
@media screen and ( min-width: 783px ){
	body{
		&.admin-bar{
			.drawer-content{
				top: 32px;
			}
			
			&.scrolling{
				.drawer-content{
					top: 32px;
				}
			}
		}
	}
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	.drawer-content{
		right: auto;
		width: 480px;

		.drawer-header{
			@include font-size( 2.3 );
		}

		.drawer-navigation{
			@include font-size( 1.8 );

			.children{
				@include font-size( 1.6 );
				margin-left: 30px;
			}
		}

		.drawer-widgets{			
			.widget{
				padding: 25px 25px 20px 50px;	
				@include font-size( 1.7 );			

				&.widget_search{
					padding-top: 15px;
				}
			}
		}
	}
}