$color__accent: #40A9F2;
$color__accent-medium: #1b39a8;
$color__accent-darker: #2196F3;
$color__pink: #ec407a;

$color__background-body: #FAFAFA;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #212121;
$color__text-date: #979797;
$color__text-navigation: #979797;

$color__border: #DFDFDF;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__twitter: #55acee;
$color__facebook: #3b5998;
$color__instagram: #3f729b;
$color__googleplus: #dd4b39;
$color__github: #4183c4;
$color__dribbble: #ea4c89;
$color__linkedin: #0976b4;
$color__youtube: #b31217;
$color__vimeo: #1ab7ea;